{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <br>

        <br>
        <h1 class="text-center">Lessen:</h1>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-sm">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Location</th>
                            <th>Max participants</th>
                        </tr>
                        {% for lesson in lessons %}
                            <tr>
                                <td>{{ lesson.training.name }}</td>
                                <td>{{ lesson.date |date('d/m/Y') }}</td>
                                <td>{{ lesson.time |date('g:i a') }}</td>
                                <td>{{ lesson.training.duration }}</td>
                                <td>{{ lesson.location }}</td>
                                <td>{{ lesson.maxpersons }}</td>
                                <td><a class="btn btn-warning" href="/adminstration/update/{{ lesson.id }}">Albert</a></td>
                                <td><a class="btn btn-danger" href="/instructor/delete/lesson/{{ lesson.id }}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <a href="/instructor/lesson/add" class="btn btn-success">Nieuw Les</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}