{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <br>
        <div class="container-fluid text-center">
            <a href="/adminstration" class="btn btn{{link1 }}">Leden</a>
            <a href="/adminstration/instructor" class="btn btn{{link2 }}">Instructor</a>
            <a href="/adminstration/training" class="btn btn{{link3 }}">Training</a>
        </div>
        <br>
        <h1 class="text-center">{{ title }}:</h1>
        <br>
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Descriptie</th>
                <th>Duration</th>
                <th>Extra costs</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for training in trainings %}
                <tr>
                    <td>{{ training.name }}</td>
                    <td>{{ training.description }}</td>
                    <td>{{ training.duration }}</td>
                    <td>
                        {{ training.extracosts }}€</td>

                    <td><a class="btn btn-warning" href="/adminstration/training/update/{{ training.id }}">Albert</a></td>
                    <td><a class="btn btn-danger" href="/adminstration/delete/training/{{ training.id }}">Hein</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/adminstration/training/add" class="btn btn-success">Nieuw Training</a>
    </div>



{% endblock %}